.cards {
  width: 100%;
  padding: 20px;
  margin-bottom: 5rem;

  .card {
    box-shadow: 10px 9px 12px rgba(0, 0, 0, 0.15);
    transition: transform .2s;
    &:hover{
      transform: scale(1.1);
    }

  }
}
#titulo{
  text-decoration: none;
  font-weight: 600;
  &:hover{
    color: #39a7df;
    transition: .3s;
  }
}
