.footer{
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    padding: 30px ;
    background-color: #39a7df;

    .logotipo{
        margin-left: 2rem;
        width: 30rem;
    }

    .footer__items{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 10rem;
        list-style: none;
        color: white;
    }

}
.redes{
    display: flex;
    justify-content: center;
    background-color: #20a0e0;
    .icon{
        font-size: 40px;
        color: white;
        margin: 20px;
        &:hover{
            color: #5250da;
        }
    }
    
}