.contenedorNosotros{
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 0;
    width: 100%;
    height: 500px;
    background-color: #39a7df;
    

    .nosotrosImagen{
        margin-top: 20rem;
        border: 5px solid white;
        border-radius: 10px;
        
    }
}

.acerca{
    display: flex;
    justify-content: center;
    position: relative;
    text-align: justify;
    margin-top: 25rem;
    background-color: red;

    p{
        width: 800px;
    }
}